.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row {
  display: flex;
  flex-grow: 1;
  width: 100%;

  .filter-section {
    flex: 0 0 20%;
    background-color: #ffcccb; 
    padding: 10px;
  }

  .feed-section {
    flex: 0 0 80%;
    background-color: #ffffff; 
    padding: 10px;
    overflow: auto; 
  }
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;

    .filter-section,
    .feed-section {
      flex: 0 0 auto;
      width: 100%;
    }
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px; 

  h2 {
    text-align: center;
  }

  .feed-card-container {
    width: 100%;
  }

  .pagination-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}